name: "GEMINI CODE REVIEW"

on:
  issue_comment:
    types: [created]

permissions:
  contents: read
  pull-requests: write

jobs:
  gemini-code-review:
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request && 
      (
      startsWith(github.event.comment.body, '/review' || startsWith(github.event.comment.body, '/gemini-review')
      )
    steps:
      - uses: google-github-actions/run-gemini-cli@v0.1.3
        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
          command: --repository ${{ github.repository }} --pull-request ${{ github.event.issue.number }}
